*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: comic sans ms;
	font-size: 12px;
	background-color: white;
	color: black;

}
h2{
	font-size: 30px;
	color: black;
	margin-left: 10px;
	margin-right: 5px; 
	margin-bottom: 5px;
}
h1 {
	padding: 0px 70px;
    text-align: center;
    margin: 0px 300px;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px navy;
    font-size: 40px;
    animation-name: example;
    animation-duration:3s;
    margin-top: 50px;
}
p{
	font-family: comic sans ms;
	font-size: 20px;
	text-align: center;
	color: black;
}
h4{
	font-family: comic sans ms;
	font-size: 25px;
	text-align: center;
	color: white;
}
h5{
	font-family: comic sans ms;
	font-size: 15px;
	text-align: center;
	color: black;
}
img{
	margin-top: 20px;
	width: 200px;
	height: 170px;
}
a{
	text-decoration: none;
	border-color: #000080;
	color: white;
}
a:hover{
	color: black;
}
.container{
    width: 100%;
    height: auto;
    background-color: white;
    
}
.container-input1{
	width: 500px;
	height: 50px;
	background-color: #000080;
	margin-top: 50px;
	margin-left: 10px;
	border-radius: 20px;
	color: white;
	text-align: center;
	box-shadow: 5px 5px 5px black;

}
.container-input2{
	width: 500px;
	height: 400px;
	background-color: white;
	margin-top: 50px;
	margin-left: 25px;
	border-radius: 20px;
	color: white;
	text-align: center;
	box-shadow: 1px 5px 5px 5px black;

}
.container-score1{
	width: 350px;
	height: 500px;
	background-color: #000080;
	margin-top: 50px;
	margin-left: 10px;
	border-radius: 20px;
	color: white;
	text-align: center;
	box-shadow: 5px 5px 5px black;

}
.container-score2{
	width: 350px;
	height: 50px;
	background-color: white;
	margin-top: 50px;
	margin-left: 25px;
	border-radius: 20px;
	color: black;
	text-align: center;
	box-shadow: 1px 5px 5px 5px black;

}
.container-score3{
	width: 400px;
	height: 50px;
	background-color: white;
	margin-top: 50px;
	margin-left: 25px;
	border-radius: 20px;
	color: black;
	text-align: center;
	box-shadow: 1px 5px 5px 5px black;

}


.header{
	background-color: #000080;
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 30px;
	box-shadow: 5px 5px 5px black;

}
.inputan{
	width: 400px;
	height: 80px;
	margin-top: 40px;
	background-color: #F0F8FF;
	border-color: #000080; 
	text-align: center;
	font-size: 25px;
}
.btn{
	margin-top: 50px;
	background-color: #000080;
	width: 150px;
	height: 70px;
	font-size: 25px;
	font-family: comic sans ms;
	color: white;
	border-color: #000080;
	border-radius: 20px;
}
.btn:hover{
	background-color: #F0F8FF;
	color : black;
}
.btn-1{
	margin-top: 50px;
	background-color: #000080;
	width: 200px;
	height: 90px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 25px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: comic sans ms;
	color: white;
	border-color: #000080;
	border-radius: 20px;
}
.btn-1:hover{
	background-color: #F0F8FF;
}
.game--container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 406px;
    margin: 50px auto;
    margin-left: 50px;
    text-align: center;
    background-color: #000080;
    border-color: #F0F8FF;
    color: white;
}
.game--status{
	color: black;
}
.game--score{
	font-size: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #F0F8FF;;
    border: 1px solid #F0F8FF;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
.img-satu{
	margin-top: 400px;
	margin-left: 20px;
	margin-right: 20px; 
}

.img-dua{
	margin-bottom: 400px;
	margin-left: 20px;
	margin-right: 20px; 

}
.info {
    margin-left: 50px;
    color: black;
}
.space{
	margin-top: 50px;
	margin-bottom: 20px;
	border-color: white;
	background-color: #F0F8FF;

}
.image{
	width: 150px;
	height: 150px;
}
@keyframes example {
	from {
		background-color: navy; 
		left: 200px;
		border-radius: 30px;
		margin-top: 15px;
		margin-bottom: 50px;
	}
    to {
    	background-color: #F0F8FF;
    	}
}
.tdku {
    width: 100px;
    height: 100px;
}
.tableku{
    margin: 5px auto;
    margin-top: 50px;
    
}
.vert {
    border-left: 3px solid navy;
    border-right: 3px solid navy;
}
.hori {
    border-top: 3px solid navy;
    border-bottom: 3px solid navy;
}
.kiri{
	margin-left: 700px;
}
.uk{
	width: 100px;
	margin-top: 4px;

}
.footer{
	background-color: #000080;
	width: 100%;
	height: 10px;
	padding-top: 5px;
	padding-bottom: 30px;
	margin-top: 20px;
	box-shadow: 5px 5px 5px black;

}
.mar{
	font-size: 25px;
	font-family: comic sans ms;
	color: white;

}
.lala{
	width: 300px;
	height: 350px;
}
